# Model Providers
OPENAI_API_KEY=
ANTHROPIC_API_KEY=

# Web Search Tool
TAVILY_API_KEY=

# Langsmith Tracing
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

# Duffel Flights
DUFFEL_TEST_API_KEY=

# Duffel live key, turn LIVE_MODE = true to activate
LIVE_MODE=false
DUFFEL_LIVE_API_KEY=